<ion-header>
  <ion-toolbar>
    <ion-title>
      Escáner básico.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card-content ion-item *ngFor="let device of devices">
      <p>{{device.name || 'Unnamed'}}</p>
      <p>{{device.id}}</p>
      <p> RSSI: {{device.rssi}}</p>
    </ion-card-content>
    <p>{{testMessage}}</p>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button (click)="singleMode()"> Single </ion-button>
  </ion-fab>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [color]='scanStatus ? "danger" : "primary"' (click)="onScanClicked()">
      <ion-icon [name]='scanStatus ? "pause" : "play"' style="font-size: 25px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>